* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
   background-color: #f6e5e5;
}

#container {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;

    grid-template-columns: 1fr minmax(25%, 700px);
    grid-template-rows: auto 1fr auto;
}

#container > header,
footer {
    grid-column: 1 / -1;
}

#container > main {
    grid-column: 1 / 2;
}

#container > aside {
    grid-column: 2 / 3;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    background: linear-gradient(to right, #df8daa, #eeccd9);  
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    background: linear-gradient(to right, #eeccd9, #df8daa); 
}

.navbar {
    font-size: inherit;
    
}

.navbar ul {
    display: flex;
    align-items: center;
    margin: 0;

    gap: 2em;

    list-style-type: none;
}

.navbar a
{
    text-decoration: none;
    color:#f6e5e5; 
}
.navbar a:hover {
    color: #774181;
    transition: 1s;
}

.main,
aside {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
}

.main-section h1 {
    position: relative;
    font-weight: 700;
    font-size: 40px;
    color:#352961;
    animation: fadeInUp 1s ease-in-out;

}

.main-section h3 {
    font-weight: 700;
    font-size: 30px;
    color: #774181;
    animation: fadeInUp 1.5s ease-in-out;
}

.main-section p {
    color:#352961;
    animation: fadeInUp 2s ease-in-out;
}

.aside img {
    border-radius: 50%;
    width: 50%;

    opacity: 1;
    transition: .8s ease;
}

.aside img:hover {
    opacity: 70%;
}
.logo {
    text-decoration: none;

    font-size: 25px;
    font-weight: 600;

    color:#774181; 

    letter-spacing: 1px;
    animation: fadeInUp 0.5s ease-in-out;
} 


.social-links i {
    margin-right: 5px;
}

.social-links,
.address  {
    list-style-type: none;
}
.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links li,
.address li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.social-links a,
.address li {
    text-decoration: none;
    color: #352961;
    display: flex;
    align-items: center;
    transition: color 0.5s ease-in-out;
}

.social-links a:hover {
    color: #f6e5e5;
}

.social-links i {
    font-size: 20px;
    margin-right: 8px;
}

.address i {
    font-size: 18px;
    margin-right: 8px;
}

/* Contact Form */

.form {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#f6e5e5, #df8daa);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#774181;
}
form {
    width: 90%;
    max-width: 600px;
}
.input-group {
    margin-bottom: 30px;
    position: relative;
}
input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #774181;
    color:#774181;
    background: transparent;
    font-size: 15px;
}
label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color:#774181;
    cursor: text;
    transition: 0.2s;
}

button,
.submit-button {
    padding: 10px;
    color: #774181;
    outline: none;
    background: transparent;
    border: 1px solid #774181;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
button:hover,
.submit-button:hover {
    background-color: #774181;
    color: #f6e5e5;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label
 {
    top: -35px;
    font-size: 14px;

}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (min-width: 600px) {
    #container {
        grid-template-columns: 1fr minmax(25%, 700px);
        grid-template-rows: auto 1fr auto;
    }

    .main,
    .aside {
        padding: 0 10%;
    }
}

@media only screen and (min-width: 900px) {
    .aside img {
        width: 50%;
    }
}